@media (max-width: 768px){
    html, body{
        font-size: 75.5%;
    }

    .container-wrap .hide, .retrieve{
        width: 100%;
    }

    .hide{
        border-bottom: 2px solid #eee;
        border-right: none;
    }
}

@media (max-width: 580px){
    html, body{
        font-size: 60.5%;
    }
}
